* {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 30px;
}

.img {
    display: block;
    margin: auto;
    width: 400px;
    height: 300px;
    background-color:rgb(52, 236, 221);
    border-radius: 20px;
}

img[src="img/img.jpg"] {
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 12px;
    height: 200px;
    width: 375px;
}
p{
    text-align: center;
    text-overflow: hidden;
    font-size: 19px;
    margin-top: 10px;
    margin-right:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img:hover{
    opacity: 0.5;
}